body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 2%;
}

h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

/*SECTION WELCOME*/
.nav {
    display: flex;
    justify-content: space-around;
    gap: 1%;
    margin: 5%;
}

.tour {
    display: flex;
    justify-content: space-around;
    margin: 5%;
}

.logo {
    display: flex;
    justify-content: space-around;
}

/*SECTION ABOUT ME*/
.who {
    font-size: 30px;
    text-align: right;
    margin-right: 170px;
}

.containerAM {
    display: flex;
    justify-content: space-around;
    gap: 10%;
    margin: 5%;
}

.photo {
    width: 350px;
    position: absolute;
    transform: translateX(-10%);
    top: 830px;
}

.am1 {
    margin-right: 230px;
}

.containerAM p {
    font-size: 25px;
}

/*SECTION VALUES & GOALS*/
.valuesgoals {
    margin-top: 15%;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.valuephoto{
    position: absolute;
    z-index: 1;
    transform: translateX(-100%);
}

.valuephoto h1 {
    text-align: left;
}


.values {
    width: 50%;
    height: 80%;
    position: relative;
    z-index: 2;
}

.value {
    padding: 10px;
    border-radius: 40px;
    margin: 10px;
    background-color: pink;
}

.value h2 {
    color: white;
}

.goals {
    border-radius: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    background-color: pink;
    margin: 10px;
}

.goals h1 {
    font-size: 3.4rem;
    color: white;
    text-align: left;
}


